.hero-section {
    background-color: #ffffff;
    margin-top: 7rem;
}

/* Título */
.hero-section h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1;
    letter-spacing: -0.05em;
    color: #1a1a1a;
}

/* Gradiente del nombre */
.text-gradient {
    background: linear-gradient(90deg, #f1d11f, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title-gradient {
    font-size: clamp(4rem, 12vw, 10rem);
}


/* Texto del párrafo */
.hero-section p {
    line-height: 1.5;
    font-size: 1.2rem;
    opacity: .7;
    text-align: justify;
}

/* Animación botones */

.boton-proyecto,
.boton-cv {
    font-size: 0.9rem;
}

.transition-hover {
    transition: all 0.3s ease;
}

.transition-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.hero-redes {
    margin-top: 4rem;
}

.hero-redes-link,
.hero-redes-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hero-redes-link:hover,
.hero-redes-icon:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}

.hero-redes-link img,
.hero-redes-icon {
    width: 40px;
    height: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-section p {
        text-align: left;
    }
}